<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mslwk_icatalogue" translate="label" sortOrder="1000">
            <label>iCatalogue</label>
        </tab>
        <section id="mslwk_icatalogue" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Settings</label>
            <tab>mslwk_icatalogue</tab>
            <resource>MSlwk_ICatalogue::catalogue_manage</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="height" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Catalogue page height (pixels)</label>
                    <comment>Default: 600</comment>
                </field>
                <field id="width" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Catalogue page width (pixels)</label>
                    <comment>Default: 461</comment>
                </field>
            </group>
        </section>
    </system>
</config>